@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100vw;
  height: 100vh;
}

section.container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(54, 54, 54);
  overflow: hidden;

  width: 100%;
  height: 100%;
  min-height: 330px;

  transition: width .5s, height .5s;
  transition-timing-function: ease;
}

div.imagen {
  background: black url(../../imagens/pexels-iurii-laimin-78973777-14708113.jpg) no-repeat right center;
  background-size: cover;
  height: 40%;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.427);
  transition: width .5s;
  transition-timing-function: ease;
}

div.formulario {
  width: 100%;
  height: 60%;
  padding: 10px;
}

div.formulario>h1 {
  text-align: center;
  color: #BC2428;
  font-size: 7vw;
  text-shadow: 1px 1px 1px black;
  font-family: "rock salt", sans-serif;
}

div.formulario>p {
  text-align: center;
  color: #BC2428;
  text-shadow: 1px 1px 1px black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 3vw;
  text-transform: uppercase;
}

div.formulario>form {
  padding: 20px;
}

form>div.campo>label {
  display: none;
}

form>div.campo {
  margin: 15px 0px;
  text-align: center;
}

div.campo>#iemail {
  padding: 7px;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.356);
}

div.campo>#isenha {
  padding: 7px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.356);
}

div.campo>#iemail::placeholder {
  color: rgba(255, 255, 255, 0.523);
}

div.campo>#isenha::placeholder {
  color: rgba(255, 255, 255, 0.523);
}

div.campo > input[type= submit] {

  margin-top: 10px;
  width: 65%;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid black;
 font-family: "Roboto", sans-serif;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.344);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.279);
  
  transition: background-color .4s, color .8s;
}

div.campo > input[type= submit]:hover {
  background-color: #bc242980;
  color: rgba(255, 255, 255, 0.682);
  cursor: pointer;
}

div.cadastro {
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 13px;
}

div.cadastro #link {
text-decoration: none;
color: #BC2428;
text-shadow: 1px 1px 1px black;
}

div.cadastro p {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.535);
}
